*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --neon-glow: #9ed6ee;
  --neon-soft: #4aaed8;
  --font-space: Neuropol X;
  --font-normal:  Space Mono;
}

body{
    font-family: var(--font-space);  /* need to implement backup fonts? */
    height: 100vh;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

.body-flex-container{
    padding: 45px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
}

.neon-light{
    z-index: 10;
    display: flex;
    height: 80%;
    height: 78vh;
    background-color: var(--neon-soft);
    border: none;
    border-radius: 20px;
    box-shadow: inset var(--neon-soft)  0px 0px 20px,var(--neon-soft) 0px 0px 20px;
    padding: 7px;
    
}

.main-container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 85%;
  width: 85vw;
  height: 77%;
  height: 77vh;
}

.wiggle-container {
    margin-top: 0; 
    padding: 0px;
    position: absolute;
    min-width: 370px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    font-size: 1rem;
    animation: neon 3s infinite;
}

.A {
    padding-right: 6px;
}

.neon-paragraph {
    letter-spacing: 4px;
    color: whitesmoke;
    text-shadow:
      0 0 5px whitesmoke,
      0 0 20px var(--neon-glow),
      0 0 40px var(--neon-glow),
      0 0 80px var(--neon-glow),
      0 0 90px var(--neon-glow),
      0 0 100px var(--neon-glow);
  }

  @media(max-width: 941px){
    .neon-paragraph {
      text-shadow:
        0 0 5px whitesmoke,
        0 0 20px var(--neon-glow),
        0 0 40px var(--neon-glow),
        0 0 80px var(--neon-glow),
        0 0 90px var(--neon-glow);
    } 
}

@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }

.wiggle, .wiggle:focus {
    font-family: inherit;
    font-size: 2.3rem;
    color: whitesmoke;
    background: transparent;
    border: none;
    margin-bottom: 15px;
}

.wiggle:hover {
    animation: wiggle 0.5s;
}

@keyframes wiggle {
    25%{
        transform: scale(1, 1.4);
    }
    50%{
        transform: scale(1.4, 1);
    }
    75%{
        transform: scale(1.4, 1);
    }  
}

/****************+**/
/*** Navigation **+*/
/*****************+*/
.nav{
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: 300;
  transform: translateX(-50%);
  width: 80%;
  height: 1.25rem;
  margin-bottom: 3.125rem;
  line-height: 1;
}

.nav__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    letter-spacing: 1px;
    align-self: center;
}

.nav__item {
    padding: 10px;
    font-size: 1rem;
}

/* line and slide on hover*/
.nav__link {
    text-decoration: none; 
    color: whitesmoke;
    align-items: center;
}

.nav__link {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .nav__link::before,
  .nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  
  .nav__link::before {
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .nav__link::after {
    content: attr(data-replace);
    height: 100%;
    top: 0px;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: black;
  }
  
  .nav__link:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  .nav__link:hover::after {
    transform: translate3d(0, 0, 0);
  }

  a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }

/****************+****/
/*** Social Icons **+*/
/*********************/
.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}

.social-icons ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: 7px;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: 20px; 
}

.footer__social-image {
    height: 1.8rem;
    padding: 1px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.footer__social-image:hover {
    transform: scale(1.2);
    animation: pop 0.4s;
    background-color: var(--neon-glow);
}

.work_social-image{
  display: inline;
  margin-bottom: 5px;
  padding: 0;
  border-radius: 50%;
  height: 1rem;
  vertical-align: text-bottom;
}

.work_social-image:hover {
  scale: 1.1;
}

@keyframes pop {
    25%{
        transform: scale(1, 1.2);
    }
    50%{
        transform: scale(1, 1.4);
    }
 }

/****************+****/
/*** About     **+***/
/*********************/
.work-container, .about-container, .contact-container{
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-container, .contact-container{
  display: flex;
  flex-direction: row;
  align-self: center;
  transform: translateX(-50, 50);
  justify-content: space-between;
}

.headline {
  width: fit-content;
  letter-spacing: 2px;
  font-size: 2.3rem;
  font-weight: 300;
  color: var(--neon-glow);
}

.about-text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-normal);
  max-width: 480px;
  padding: 0px 20px;
}
/****************+**/
/***** Work ****+***/
/*****************+*/

/* ---- Carousel ---- */
.work-container{
  align-self: center;
  transition: background .4s ease-in;
  background-color: black;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-35%) scale(.7);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(35%) scale(.7);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  /*
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }*/
}

.description {
  background-color: whitesmoke;
  border-radius: 8px;
  min-width: 320px;
  padding: 8px 5px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 40px;
  overflow: hidden;
}

.project-info {
  width: calc(100% - 32px);
  display: block;
}

.project-info .title {
  color: black;
  font-size: 16px;
  line-height: 24px;
  margin-left: 15px;
}

.sub-line {
  font-family: var(--font-normal);
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 35px;
}

.subtitle, .work-link {
  font-size: 14px;
  line-height: 16px;
  color: black;
  display: inline;
  vertical-align: text-bottom;
}

.work-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--neon-soft);
  font-weight: 500;
  margin-left: auto;
  text-decoration: none;
}

.info-area {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 10px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .description #test {
  transform: translateY(0);
}

#item-2:checked ~ .description #test  {
  transform: translateY(-46px);
}

#item-3:checked ~ .description #test  {
  transform: translateY(-92px);
}

/****************+***/
/***** Contact ******/
/******************+*/
.form{
  width: 320px;
  margin-right: 50px;
}

.contact-container .user-box {
  position: relative;
}

.contact-container .user-box input,
.contact-container .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  color: whitesmoke;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
  border-radius: 0;
  background: rgba(66, 66, 66, 0.65);
  font-family: var(--font-normal);
}

.user-box textarea{ 
  height: 150px;
  resize: none;
  display: block;
  box-sizing: border-box;
}

.contact-container .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: whitesmoke;
  pointer-events: none;
  transition: .5s;
}

.contact-container .user-box input:focus ~ label,
.contact-container .user-box input:valid ~ label,
.contact-container .user-box textarea:focus ~ label,
.contact-container .user-box textarea:valid ~ label {
  top: -22px;
  left: 0;
  color: var(--neon-soft);
  font-size: 12px;
}

.contact-container .user-box input:hover,
.contact-container .user-box input:focus, 
.contact-container .user-box textarea:hover, 
.contact-container .user-box textarea:focus {
  border-bottom: 1px solid var(--neon-soft);
}

@media(max-width: 1200px){
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-35%) scale(.5);
    opacity: .4;
    z-index: 0;
  }
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(35%) scale(.5);
    opacity: .4;
    z-index: 0;
  }
}

@media(max-width: 1000px){
  .about-container, .contact-container{
    flex-direction: column;
    justify-content: center;
  }
  .headline{
    margin-bottom: 2rem;
  }
  .form{
    margin-right: 0;
  }
  .card{
    scale: .8;
  }
  .neon-light{
    padding: 6px;
  }
}

@media(max-width: 600px){
  .description{
    scale: .8;
  }
  .neon-light{
    padding: 5px;
  }
  .main-container{
    max-height: 50%;
    max-height: 50vh;
  }
}

/*
input:after, textarea:after, .send-btn:after {
  outline: none;
  color: var(--neon-soft);
}
*/
/****************+***/
/***** Buttons ******/
/******************+*/
.link {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: var(--neon-soft);
}

.contact-link{
  text-decoration: none;
  color: var(--neon-glow);
  border-bottom: 1px solid var(--neon-glow);
}

.send-btn{
  content: "Submit";
  color: black;
  width: 5.5rem;
  height: 3rem;
  border: 3px double black;
  border-radius: 5px;
  background-color: var(--neon-soft);
}

.send-btn:hover, .send-btn:focus {
  scale: 1.01;
  border: 4px double black;
  box-shadow: 
   0 0 5px var(--neon-glow),
   0 0 8px var(--neon-glow);
}

.send-btn:active {
 background-color: var(--neon-glow);
 box-shadow: none;
}

.send-btn:after {
  /*content: "thanks!";*/
  outline: none;
  color: var(--neon-soft);
}

.send-fill{
  scale: .5;
  vertical-align: text-bottom;
}